<!--
  Generated template for the Digr02Write page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="backspace"></ion-icon>
      </button>
    </ion-buttons>
    <!---Title-->
    <ion-title (click)="goDigr02ListModal()">정기안전 점검 정보 등록</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="goNext()">
          다음
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Content -->
<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <div padding class="title-components">{{selectMast01.facil_nm}}</div>
      </ion-col>
      <ion-col col-12>
        <ion-card padding box-shadow class="card">
          <ion-grid no-padding>

            <h2 padding-top header-title text-capitalize>주요 점검진단결과 <span class="text-red">*</span></h2>
            <ion-row>
              <ion-col col-12>
                <ion-item no-lines box-shadow>
                  <ion-textarea no-margin type="text" [placeholder]="placeholder.dign_content"
                    [(ngModel)]="digr02.dign_content" rows="4"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>

            <h2 padding-top header-title text-capitalize>주요 보수보강(안) <span class="text-red">*</span></h2>
            <ion-row>
              <ion-col col-12>
                <ion-item no-lines box-shadow>
                  <ion-textarea no-margin type="text" [placeholder]="placeholder.amend_content"
                    [(ngModel)]="digr02.amend_content" rows="4"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>

            

            <h2 padding-top header-title text-capitalize>비용(천원) <span class="text-red">*</span></h2>
            <ion-row>
              <ion-col col-12>
                <ion-item no-lines box-shadow>
                  <ion-input no-margin type="number" [placeholder]="placeholder.dign_amt" [(ngModel)]="digr02.dign_amt">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <h2 padding-top header-title text-capitalize>안전등급 <span class="text-red">*</span></h2>
            <ion-list radio-group [(ngModel)]="digr02.state_grade">
              <ion-row>
                <ion-col col-6 col-md-4 col-lg-3 *ngFor="let state_grade of state_gradeList; let i= index">
                  <!--Content -->
                  <ion-item no-lines box-shadow>
                    <ion-radio item-start [value]="state_grade.code1" (ionSelect)="state_gradeChange($event,state_grade)"></ion-radio>
                    <!--Content Title-->
                    <ion-label item-title>{{state_grade.data1}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>

            <h2 padding-top header-title text-capitalize>정밀안전진단 필요</h2>
            <ion-row>
              <ion-col col-12>
                <ion-item no-lines box-shadow class="item-sm">
                  <!-- Content Title -->
                  <ion-label item-title>{{placeholder.dign4_need_yn}}</ion-label>
                  <ion-checkbox [(ngModel)]="digr02.dign4_need_yn"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card>

        <ng-container *ngIf="'TU|AR|UC'.indexOf(selectMast01.facil_no.slice(0,2)) > -1 ">
          <ion-card margin-top padding box-shadow class="card">
            <ion-grid>
              <ion-item no-lines>
                <ion-label span-medium item-start>환기구(덮개)</ion-label>
                <ion-toggle item-end [(ngModel)]="digr02.vent_yn" (ionChange)="ventChange($event)"></ion-toggle>
              </ion-item>

              <ng-container *ngIf="digr02.vent_yn">
                <h2 padding-top header-title text-capitalize>보수 필요 여부</h2>
                <ion-list radio-group [(ngModel)]="digr02.vent_amend_yn">
                  <ion-row>
                    <ion-col col-6 col-md-4 col-lg-3 *ngFor="let vent_amend_yn of vent_amend_ynList;">
                      <!--Content -->
                      <ion-item no-lines box-shadow>
                        <ion-radio item-start [value]="vent_amend_yn.value"></ion-radio>
                        <!--Content Title-->
                        <ion-label item-title>{{vent_amend_yn.text}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
  
                <h2 padding-top header-title text-capitalize>점검 결과</h2>
                <ion-row>
                  <ion-col col-12>
                    <ion-item no-lines box-shadow>
                      <ion-input no-margin type="text" [placeholder]="placeholder.vent_chk_result" [(ngModel)]="digr02.vent_chk_result">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ng-container>
              
            </ion-grid>
          </ion-card>
        </ng-container>

      </ion-col>
    </ion-row>
    <page-digr12-list></page-digr12-list>
  </ion-grid>
</ion-content>