page-digr02-write {
    .form-01 {
        tr{
            th{
                font-size: 19px;
            }
        }

        input {
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }
    
}
