page-digr02-write {
    .digr13Table{
        width: 100%;
        th{
            vertical-align: middle;
            text-align: center;
        }
        td {
            vertical-align: middle;
            text-align: center;
        }
    }
}
