page-man-main {
    [padding] {
        h1:first-child{
            margin-top: 0;
        }
    }

    .tabs-md {
        margin-top: 56px;
    }

    .scroll-content {
        padding: 0 !important;
    }
}
