<!-- Theme Search Bars - Simple -->
<ion-content>
    <ion-grid no-padding>
        <ion-row *ngIf="data != null">
            <!-- Header -->
            <ion-col col-12>
                <div background-size [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}" *ngIf=" data.headerImage != null">
                    <h2 parallax-title="" text-center="">정기안전점검 목록</h2>
                    <h2 parallax-subtitle="" text-center="">정기안전점검 목록을 검색하여 확인할 수 있습니다.</h2>
                    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
                </div>
            </ion-col>
            <!-- List -->
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item class="ion-line-item" *ngFor="let item of data.items;" (click)="onEvent('onItemClick', item)">
                        <ion-icon item-end>
                        <i class="icon icon-arrow-right-bold-circle"></i>
                        </ion-icon>
                        <h1 item-title>{{item.title}}</h1>
                        <h2 item-subtitle>{{item.date}}</h2>
                        <h2 item-subtitle>{{item.description}} / {{item.name}}</h2>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-fab>
  