<!--
  Generated template for the Main page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--Fist Screen-->
<ion-header class="main-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <!-- <ion-title>main</ion-title> -->
    <div class="btn-group">
      <button button-clear clear ion-button class="header-btn header-icon-reset" *ngIf="authGuardService.canActivate()"
        (click)="goSyncData()"></button>
      <button button-clear clear ion-button class="header-btn header-icon-setting" (click)="goAppSetting()"></button>
      <button button-clear clear ion-button class="header-btn header-icon-bell" *ngIf="authGuardService.canActivate()" (click)="goNoti01001List()">
        <div class="bell-count">24</div>
      </button>
    </div>
  </ion-navbar>
</ion-header>

<!--- Theme Parallax Frends -->
<ion-content elastic-header *ngIf="mainPageMenu != null" class="main-content">
  <div background-size id="elastic-header" class="main-visual"></div>
  <ion-grid no-padding>
    <div padding class="title-components">시설물 <span class="title-com-sub">관리</span></div>
    <ion-list margin-left margin-right>
      <ion-row>
        <ion-col col-6>
          <button default-button round ion-button class="main-con-top-btn btn-color-04" (click)="goDigrGroupPage()">
            <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_03.png" alt="icon">
            <span class="main-btn-text">정기안전점검</span>
          </button>
        </ion-col>
        <ion-col col-6>
          <button default-button round ion-button class="main-con-top-btn btn-color-06"
            (click)="goDigrGroupHistroyList()">
            <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_04.png" alt="icon">
            <span class="main-btn-text">시설물조회</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
            <button default-button round ion-button class="main-con-top-btn btn-color-06"
              (click)="goMan23001List()">
              <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_04.png" alt="icon">
              <span class="main-btn-text">점검진단도래시기 통보</span>
            </button>
          </ion-col>
      </ion-row>
    </ion-list>
    <div padding class="title-components">정보 <span class="title-com-sub">공개</span></div>
    <ion-list margin-left margin-right>
      <ion-row>
        <ion-col col-4 col-md-3 col-sm-4>
          <button default-button round ion-button class="main-con-btn btn-color-01"
          (click)="goInf01001List()">
            <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_05.png" alt="icon">
            <span class="main-btn-text" >공지게시판</span>
          </button>
        </ion-col>
        <ion-col col-4 col-md-3 col-sm-4>
          <button default-button round ion-button class="main-con-btn btn-color-02"
          (click)="goPub01001List()">
            <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_06.png" alt="icon">
            <span class="main-btn-text" >시설물안전등급 정보공개</span>
          </button>
        </ion-col>
        <ion-col col-4 col-md-3 col-sm-4>
          <button default-button round ion-button class="main-con-btn btn-color-03"
          (click)="goCoe01001List()">
            <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_08.png" alt="icon">
            <span class="main-btn-text" >안전진단전문기관 현황</span>
          </button>
        </ion-col>
        <ion-col col-4 col-md-3 col-sm-4>
          <button default-button round ion-button class="main-con-btn btn-color-04"
          (click)="goCof01001List()">
            <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_09.png" alt="icon">
            <span class="main-btn-text" >시설물유지관리 업체현황</span>
          </button>
        </ion-col>
        <ion-col col-4 col-md-3 col-sm-4 *ngFor="let item of mainPageMenu.menus;let i = index">
          <button default-button round ion-button class="main-con-btn btn-color-{{i + 5 | number:'2.'}}"
            (click)="goIframePage(item.url,item.title)">
            <img class="main-btn-icon" [src]="item.img" alt="icon">
            <span class="main-btn-text" [innerHtml]="item.title"></span>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list margin text-center>
      <button default-button round ion-button margin class="main-member-btn" *ngIf="!authGuardService.canActivate()" (click)="login()">
        <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_13.png" alt="icon">
        <span class="main-btn-text">로그인</span>
      </button>
      <button default-button round ion-button margin class="main-member-btn" *ngIf="authGuardService.canActivate()" (click)="logout()">
        <img class="main-btn-icon" src="../../assets/images/background/main_btn_icon_13.png" alt="icon">
        <span class="main-btn-text">로그아웃</span>
      </button>
    </ion-list>
  </ion-grid>
</ion-content>
<!-- Fab Button -->