    /*  #Style First Screen (main)
================================================*/


.main-header .toolbar .toolbar-background {
    background: #fff url(../../assets/images/logo/logo_main_top.png) no-repeat 50% 50%;
  }
  .main-header .toolbar-title-md {
    color:#000000;
  }
  .main-header .btn-group {
    float: right;
  }
  .main-header .btn-group .header-btn {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: visible;
    contain: none;
  }
  .main-header .btn-group .header-btn .bell-count {
    position: absolute;
    top:-4px;
    right: -4px;
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 4px 6px;
  }
  .main-header .btn-group .header-btn.header-icon-reset {
    background: url(../../assets/images/background/icon_reset.png) no-repeat 50% 50%;
  }
  .main-header .btn-group .header-btn.header-icon-setting {
    background: url(../../assets/images/background/icon_setting.png) no-repeat 50% 50%;
  }
  .main-header .btn-group .header-btn.header-icon-bell {
    background: url(../../assets/images/background/icon_bell.png) no-repeat 50% 50%;
  }
  .main-header .bar-button-default-md, 
  .main-header .bar-button-clear-md-default, 
  .main-header .bar-button-md-default ,
  .main-header .bar-button-default-md:hover:not(.disable-hover), 
  .main-header .bar-button-clear-md-default:hover:not(.disable-hover), 
  .main-header .bar-button-md-default:hover:not(.disable-hover){
    color:#000000;
  }
  
  .main-content {
    background-color: #fff !important;
    .main-visual {
      transform-origin: center bottom;
      background-image: url(../../assets/images/background/main_visual.png);
    }
    [background-size] {
        height: 250px;
        position: relative;
    }
  
    @media screen and (max-width:820px){
        [background-size] {
            height: 200px;
        }
    }
  
    @media screen and (max-width:768px){
        [background-size] {
            height: 200px;
        }
    }
  
    @media screen and (max-width:500px){
        [background-size] {
            height: 140px;
        }
        .main-header .btn-group .header-btn {
          width: 27px;
        }
    }
  
    [parallax-title] {
        z-index: 9;
        padding-top: 130px;
        display: block;
        position: relative;
        margin: 0 45px;
    }
  
    [social] {
        z-index: 99;
        position: relative;
        margin: 10px;
    }
    .main-con-top-btn {
      position: relative;
      width: 100% !important;
      border-radius: 5px !important;
      font-size: 1em !important;
      font-weight: bold !important;
      box-shadow: none !important;
      padding: 30px !important;
    }
    .main-con-top-btn .main-btn-icon {
      position: absolute;
      left: 20px;
      height: 50%;
    }
    .main-con-top-btn .main-btn-text {
      position: absolute;
      left: 5em;
    }
    .main-con-btn {
      position: relative;
      width: 100% !important;
      height: 150px !important;
      border-radius: 5px !important;
      font-size: 1em !important;
      font-weight: bold !important;
      box-shadow: none !important;
      padding: 30px !important;
    }
    .main-con-btn .main-btn-icon {
      position: absolute;
      top: 20px;
    }
    .main-con-btn .main-btn-text {
      position: absolute;
      bottom: 10px;
      height: 40px;
    }
  
    .main-member-btn {
      position: relative;
      height: 40px !important;
      border-radius: 5px !important;
      font-size: 1.2em !important;
      font-weight: bold !important;
      background-color: #fff !important;
      border: 1px solid #bcbcbc;
      color: #000 !important;
      margin: 20px 8px !important;
    }
  
    .btn-color-01 {background-color: #1d90f0 !important;}
    .btn-color-02 {background-color: #14b1c4 !important;}
    .btn-color-03 {background-color: #14c4b1 !important;}
    .btn-color-04 {background-color: #14c490 !important;}
    .btn-color-05 {background-color: #14c473 !important;}
    .btn-color-06 {background-color: #88c414 !important;}
    .btn-color-07 {background-color: #c4be14 !important;}
    .btn-color-08 {background-color: #c4a914 !important;}
  
  }
  @media screen and (max-width:400px){
    .main-header .btn-group .header-btn {
      width: 27px;
    }
  }
  
  .title-components{
    color: theme-colors('mainColors', 'secondary-first');
    font-size: 16px;
    font-weight: normal;
    clear: both;
    display: block;
    margin: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid theme-colors('mainColors', 'secondary-first');
}
