<!--
  Generated template for the Digr11List page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="top-tit-area02">
  <div>
    <p>책임기술자 목록</p>
    <ion-buttons end>
      <button ion-button icon-only style="width:2rem;height:2rem;" (click)="addDigr11()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>    
  </div>
</div>

<ion-list id="digr11List" nopadding>
  <ion-list-header>
    <ion-label col-4>참여기술자 명칭</ion-label>
    <ion-label col-3>생년월일</ion-label>
    <ion-label col-2>책임기술자<br>여부</ion-label>
    <ion-label col-3>기술등급</ion-label>
  </ion-list-header>
  <ion-item-sliding *ngFor="let digr11 of digr01Group.digr11List; let i = index;"> <!-- for loop here -->
    <ion-item (click)="goWrite(i)">
      <ion-grid>
        <ion-row class="row">
          <ion-col class="col" col-4 >{{digr11.engineer_nm}}</ion-col>
          <ion-col class="col" col-3 >{{digr11.birth_ymd}}</ion-col>
          <ion-col class="col" col-2 >{{digr11.rep_yn}}</ion-col>
          <ion-col class="col" col-3 >{{digr11.tech_grade}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-options danger>
        <button danger color="danger" class="danger" (click)="removeItem(digr11,i)"><ion-icon slot="icon-only" name="trash"></ion-icon> 삭제</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<!-- <table class="form-01">
  <thead>
    <tr>
      <th style="width:35vw; text-align:center;">참여기술자 명칭</th>
      <th style="width:25vw; text-align:center;">생년월일</th>
      <th style="width:20vw; text-align:center;">책임기술자<br>여부</th>
      <th style="width:10vw; text-align:center; font-size:1.1rem;">기술등급</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let digr11 of digr01Group.digr11List; let i = index;" (click)="goWrite(i)">
      <th style="width:35vw;">{{digr11.engineer_nm}}</th>
      <td style="width:25vw;">{{digr11.birth_ymd}}</td>
      <td style="width:20vw;">{{digr11.rep_yn}}</td>
      <td style="width:10vw;">{{digr11.tech_grade}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <ion-list>
  <ion-list-header>
    책임기술자 목록
  </ion-list-header>
  <ion-item>
    <ion-label>기술자1</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>기술자2</ion-label>
  </ion-item>
</ion-list>
<ion-buttons end>
  <button ion-button icon-start (click)="goWrite()">
    <ion-icon name="add" ></ion-icon>기술자 추가
  </button>
</ion-buttons> -->
