<!--
  Generated template for the Digr13_1ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title (click)="goDigr02ListModal()"> 정기점검표</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <div padding class="title-components">
      <span>정기정검표 작성 목록 선택</span>
      <div class="block-insert">
        <button button-clear-outline outline round ion-button>신규 추가</button>
      </div>
    </div>
    <ion-row *ngIf="dign1_checkObject != null">
      <!-- List -->
      <ion-col col-12>
        <ion-list no-margin>
          <ion-item class="ion-line-item" *ngFor="let code1 of dign1_checkObject[codeMap.array]; let i = index;" (click)="goNext(dign1_checkObject[code1])">
            <h1 item-title class="item-title-big">{{dign1_checkObject[code1].data[0].check_nm1}}</h1>
            <ion-badge margin-right color="primary">작성완료 11 건</ion-badge>
            <ion-badge margin-right color="danger">미작성 11 건</ion-badge>
            <ion-icon item-end>
              <i class="icon icon-arrow-right-bold-circle"></i>
            </ion-icon>

          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>