/*  # Style Parallax Frends
================================================*/
.fms-main {
    [background-size] {
        //@include darkening-blend-mode;
        height: 250px;
        position: relative;
    }

    @media screen and (max-width:500px){
        [background-size] {
            height: 140px;
        }
    }

    @media screen and (max-width:768px){
        [background-size] {
            height: 200px;
        }
    }

    [parallax-title] {
        z-index: 9;
        padding-top: 130px;
        display: block;
        position: relative;
        margin: 0 45px;
    }

    [social] {
        z-index: 99;
        position: relative;
        margin: 10px;
    }
}
