<!--
  Generated template for the FacilPartSearchModal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
        <button ion-button icon-only (click)="dismiss()"><ion-icon name="backspace"></ion-icon></button>
      </ion-buttons>
      <ion-title>부위부재 선택</ion-title>
      <ion-buttons end>
        <button ion-button icon-start (click)="goSave()">
          확인
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding >

    <div padding class="title-components">부위부재 종류 선택 <span class="text-red">*</span></div>

    <ion-list radio-group [(ngModel)]="selectFacilPart.part_cd">
      <ion-card padding box-shadow class="card">  
        <ion-grid *ngIf="inputYList.length > 0;">
          <ion-list class="selected-group">
            <ion-row class="row">
              <ng-container *ngFor="let facil_part of inputYList;">
                <ion-col col-6 col-md-4 col-lg-3>
                  <ion-item no-lines box-shadow class="item-sm">
                    <ion-radio item-start [value]="facil_part.part_cd" (ionSelect)="selectFacilPartBind(facil_part)"></ion-radio>
                    <ion-label item-title>{{facil_part.part_nm}}</ion-label>
                  </ion-item>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-list>
        </ion-grid>

        <ng-template #recursiveList let-facil_part>
          <ion-list-header class="ios hydrated selected-header selected-dep{{ facil_part.ranking }}">
            <ion-icon *ngIf="(facil_part.ranking ) > 1" name="return-right"></ion-icon>
            {{facil_part.part_nm}}
          </ion-list-header>
          <ng-container *ngIf="!facil_part.isLastListNode && !facil_part.isOk; else elseBlock;">
            <ng-container *ngFor="let facil_part_child of facil_part.children;">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: facil_part_child }"></ng-container>
            </ng-container>
          </ng-container>
          <ng-template #elseBlock>
            <ion-row class="selected-list-dep{{ facil_part.ranking }} row">
              <ng-container *ngFor="let facil_part_child of facil_part.children;">
                <ion-col col-6 col-md-4 col-lg-3>
                  <ion-item no-lines box-shadow class="item-sm">
                    <ion-radio item-start [value]="facil_part.part_cd" (ionSelect)="selectFacilPartBind(facil_part)"></ion-radio>
                    <ion-label item-title>{{facil_part_child.part_nm}}</ion-label>
                  </ion-item>
                </ion-col>
              </ng-container>
            </ion-row>
          </ng-template>
        </ng-template>
        
        <ng-container *ngIf="inputNList.length > 0;">
          <ng-container *ngFor="let facil_part of inputNList;let i = index;">
            <ion-grid>
              <ion-list class="selected-group">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: facil_part}"></ng-container>
              </ion-list>
            </ion-grid>
          </ng-container>
        </ng-container>

      </ion-card>
      <ion-card padding box-shadow class="card">  
        <ion-grid >
          <ion-list class="selected-group">
            <ion-row class="row">
              <ng-container>
                <ion-col col-12>
                  <ion-item no-lines box-shadow class="item-sm">
                    <ion-radio item-start value="new" (ionSelect)="selectFacilPartBind('new')"></ion-radio>
                    <ion-label item-title>직접입력</ion-label>
                  </ion-item>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-list>
        </ion-grid>
      </ion-card>
    </ion-list>


    <div padding class="title-components">
      <span>부위부재 세부사항</span>
    </div>

    <ion-row>
      <ion-col col-12>
        <ion-card padding box-shadow class="card">
          <ng-container *ngIf="isPartNmUser">
            <h2 padding-top header-title text-capitalize>직접입력 <span class="text-red">*</span></h2>
            <ion-row>
              <ion-col col-12>
                <ion-item no-lines box-shadow>
                  <ion-input no-margin type="text" placeholder="직접입력" [(ngModel)]="part_nm_user"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ng-container>

          <ng-container *ngIf="facil_gbn == 'AR';else BR">

              <h2 padding-top header-title>위치구분 <span class="text-red">*</span></h2>
              <ion-grid no-padding>
                <ion-list radio-group [(ngModel)]="part_class1">
                    <ion-row>
                        <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class1'].codeList; let i= index">
                            <ion-item no-lines box-shadow>
                                <ion-radio item-start [value]="code.value"></ion-radio>
                                <ion-label item-title>{{code.text}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
              </ion-grid>

              <ng-container *ngIf="part_class1 != '' && 'G,B,T'.indexOf(part_class1) >= 0">
                <h2 padding-top header-title>층 <span class="text-red">*</span></h2>
                <ion-row>
                  <ion-col col-12>
                    <ion-item no-lines box-shadow>
                        <ion-input no-margin type="number" [placeholder]="part_codeList[facil_gbn]['part_class2'].text" [(ngModel)]="part_class2"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ng-container>
              
            </ng-container>
            <ng-template #BR>
              <ng-container *ngIf="facil_gbn == 'BR';else DA">

                <h2 padding-top header-title>경간(지점)번호</h2>
                <ion-row>
                  <ion-col col-12>
                    <ion-item no-lines box-shadow>
                        <ion-input no-margin type="text" [placeholder]="part_codeList[facil_gbn]['part_class2'].text" [(ngModel)]="part_class2"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class1">
                      <ion-row>
                          <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class1'].codeList; let i= index">
                              <ion-item no-lines box-shadow>
                                  <ion-radio item-start [value]="code.value"></ion-radio>
                                  <ion-label item-title>{{code.text}}</ion-label>
                              </ion-item>
                          </ion-col>
                      </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #DA>
              <ng-container *ngIf="facil_gbn == 'DA';else ED">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                      <ion-row>
                          <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                              <ion-item no-lines box-shadow>
                                  <ion-radio item-start [value]="code.value"></ion-radio>
                                  <ion-label item-title>{{code.text}}</ion-label>
                              </ion-item>
                          </ion-col>
                      </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #ED>
              <ng-container *ngIf="facil_gbn == 'ED';else HL">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                      <ion-row>
                          <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                              <ion-item no-lines box-shadow>
                                  <ion-radio item-start [value]="code.value"></ion-radio>
                                  <ion-label item-title>{{code.text}}</ion-label>
                              </ion-item>
                          </ion-col>
                      </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #HL>
              <ng-container *ngIf="facil_gbn == 'HL';else RW">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                    <ion-row>
                      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                        <ion-item no-lines box-shadow>
                            <ion-radio item-start [value]="code.value"></ion-radio>
                            <ion-label item-title>{{code.text}}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #RW>
              <ng-container *ngIf="facil_gbn == 'RW';else SL">

                <ion-row>
                  <ion-col col-12>
                    <ion-item no-lines box-shadow>
                      <ion-input no-margin type="text" [placeholder]="part_codeList[facil_gbn]['part_class2'].text" [(ngModel)]="part_class2"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

              </ng-container>
            </ng-template>
            <ng-template #SL>
              <ng-container *ngIf="facil_gbn == 'SL';else ST">

                <ion-row>
                  <ion-col col-12>
                    <ion-item no-lines box-shadow>
                      <ion-input no-margin type="text" [placeholder]="part_codeList[facil_gbn]['part_class2'].text" [(ngModel)]="part_class2"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

              </ng-container>
            </ng-template>
            <ng-template #ST>
              <ng-container *ngIf="facil_gbn == 'ST';else TU">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                    <ion-row>
                      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                        <ion-item no-lines box-shadow>
                            <ion-radio item-start [value]="code.value"></ion-radio>
                            <ion-label item-title>{{code.text}}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #TU>
              <ng-container *ngIf="digr02.facil_no.startsWith('TU');else UC">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                    <ion-row>
                      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                        <ion-item no-lines box-shadow>
                            <ion-radio item-start [value]="code.value"></ion-radio>
                            <ion-label item-title>{{code.text}}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #UC>
              <ng-container *ngIf="digr02.facil_no.startsWith('UC');else UR">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                    <ion-row>
                      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                        <ion-item no-lines box-shadow>
                            <ion-radio item-start [value]="code.value"></ion-radio>
                            <ion-label item-title>{{code.text}}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #UR>
              <ng-container *ngIf="digr02.facil_no.startsWith('UR');else WS">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                    <ion-row>
                      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                        <ion-item no-lines box-shadow>
                            <ion-radio item-start [value]="code.value"></ion-radio>
                            <ion-label item-title>{{code.text}}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>
            <ng-template #WS>
              <ng-container *ngIf="facil_gbn == 'WS';">

                <ion-grid no-padding>
                  <ion-list radio-group [(ngModel)]="part_class">
                    <ion-row>
                      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let code of part_codeList[facil_gbn]['part_class'].codeList; let i= index">
                        <ion-item no-lines box-shadow>
                            <ion-radio item-start [value]="code.value"></ion-radio>
                            <ion-label item-title>{{code.text}}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-grid>

              </ng-container>
            </ng-template>

            <h2 padding-top header-title text-capitalize>세부위치</h2>
            <ion-row>
                <ion-col col-12>
                    <ion-item no-lines box-shadow>
                        <ion-input no-margin type="text" placeholder="세부위치" [(ngModel)]="selectFacilPart.part_detail"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
              
          </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
