// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Settings Style Main Meni
[header-background-image] {
    height: 200px;
    background-size: cover;
    background-position: center;
    @include darkening-blend-mode;

    img {
      padding-top: 40px;
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 9;
      max-width: 100px;
    }

    [item-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: relative;
      z-index: 9;
    }
  }


ion-item-options {
  border: transparent !important;
}

// Settings Icon Header
ion-header {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    width: auto !important;
    margin-left: 0 !important;
  }
}

  // Settings Main  Menu
  [main-menu] {
    button {
      padding-left: 30px;
    }

    .item-inner {
      margin-left: 0 !important;
    }

    [icon-small] {
      margin-top: 18px !important;
    }
  }
  // Settings Submenu

  [submenu] {
    ion-label {
      padding-left: 30px !important;
    }
  }

  .ion-line-item {
    padding-left: 0px;
  }

  .ion-line-item .item-inner {
    padding-left: 16px;
  }


  [span-large], [span-medium] {
    color:#00c0e8;
  }
  [span-medium] {
    font-size: 18px !important;
  }
  .card [span-medium] {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
  } 
  ::placeholder {
    color: #a0a0a0 !important;
  }
  .item-sm {
    padding-left: 4px;
  }
  .item-sm .label-md {
    margin: 0px;
  }
  .item-sm.item-md .radio-md[item-left], 
  .item-sm.item-md .radio-md[item-start] {
    margin: 11px 10px 10px 4px;
  }
  .item-sm.item.item-md .checkbox-md {
    margin: 9px 10px 9px 4px;
  }
  .item-sm .item-inner {
    padding-right: 4px;
  }
  .example-h1 {
    font-size: 18px !important;
    font-weight: bold !important;
  }
  .example-h2 {
    font-size: 16px !important;
    font-weight: bold !important;
  }
  .title-components {
    font-size: 20px !important;
    font-weight: bold !important;
  }
  [header-title] {
    color: #222 !important;
  }
  .col.col-set {
    background-color: #efeeee;
    padding-top: 10px !important;
    border: 1px solid #dedede;
  }
  .menu-user {
    border-top: 1px solid #dedede;
    background-color: #fff;
  }
  
  .title-components {
    position: relative;
  }
  .title-components .block-insert {
    position: absolute;
    right: 10px;
    margin: 0px;
    top: 6px;
  }
  ion-icon[item-end] ion-badge {
    vertical-align: 26%;
  }
  .item-title-big {
    font-size: 18px !important;
  }
  ion-app.md [margin], 
  ion-app.md [margin] .scroll-content {
    margin: 10px;
  }
  .item-subtitle-arr {
    position: relative;
    font-size: 12px;
    color: #788a92 !important;
    margin-right: 10px;
    padding-right: 10px;
  }
  .item-subtitle-arr::after {
    content: "";
    position: absolute;
    border-right: 1px solid #dedede;
    height: 10px;
    top:4px;
    right: 0px;

  }
  .item-subtitle-arr:last-child::after {
    border-right: 0px;
  }
  .radio-title-dep1 {
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -35px rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.12);
    padding: 5px !important;
    margin: 0px 5px !important;
    text-align: center;
  }
  .text-red {
    color: #ff0000;
  } 
  .ion-button-red {
    background-color: #ff0000;
  } 
  .selected-grid {
    padding-top: 10px !important;
  }
  .selected-grid:first-child {
    padding-top: 0px !important;
  }
  .selected-group {
    border: 1px solid #dedede;
    padding: 0px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .selected-header {
    padding: 0px;
    margin: 5px 0px;
    border-top: 0px;
    border-bottom: 1px solid #dedede;
  }
  .selected-header .label-md {
    margin: 0px;
    font-size: 15px;
    color: #0191d1;
  }
  .selected-header:first-child .input-wrapper {
    padding-left: 20px;
  }
  .selected-dep2,
  .selected-list-dep2 {
    padding-left: 20px;
  }
  .selected-dep3,
  .selected-list-dep3 {
    padding-left: 40px;
  }
  .selected-dep4,
  .selected-list-dep4 {
    padding-left: 60px;
  }
  .selected-dep5,
  .selected-list-dep5 {
    padding-left: 80px;
  }
  .selected-dep6,
  .selected-list-dep6 {
    padding-left: 100px;
  }
  .selected-dep7,
  .selected-list-dep7 {
    padding-left: 120px;
  }
  .title-components {
    background: url(../../assets/images/background/bu_1dep.png) no-repeat 12px 16px;
    padding-left: 40px !important;
  }
  .title-components .title-com-sub {
    color:#000;
  }
  .selected-header .block-insert,
  .example-h1 .block-insert {
    position: absolute;
    right: 10px;
    margin: 0px;
    top: 4px;
  }
  .selected-header .block-insert .button-md,
  .example-h1 .block-insert .button-md {
    height: 1rem;
    padding: 10px 25px !important;
  }

  .step-tab {
    position: relative;
  }
  .step-tab::after {
    content: "";
    position: absolute;
    top:50%;
    left:0px;
    height: 3px;
    width: 50%;
    background-color: #d4d4d4;
    z-index: -1;
  }
  .step-tab:first-child::after {
    display: none;
  }
  .step-tab::before {
    content: "";
    position: absolute;
    top:50%;
    right:0px;
    height: 3px;
    width: 50%;
    background-color: #d4d4d4;
    z-index: -1;
  }
  .step-tab:last-child::before {
    display: none;
  }
  .step-tab .button {
    border-width: 3px !important;
    height: 5.6rem;
    padding: 10px 10px !important;
    font-size: 13px !important;
    margin: 0px;
    background-color: #fff;
  }
  .step-tab .button:hover {
    background-color: #f1f1f1;
  }
  .step-tab .button .button-inner {
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  .step-no {
    display: block;
    padding: 10px;
    background-color: #00addd;
    color: #fff;
    border-radius: 60px;
  }
  .step-title {
    margin-left: 10px;
  }

  .step-tab .button.disable {
    border: 3px solid #d4d4d4 !important;
  }
  .step-tab .button.disable .step-no {
    background-color: #d4d4d4;
  }
  .step-tab .button.disable .step-title {
    color:#b7b7b7;
  }

  .example-h1 {
    font-size: $h1-font-size;
    color: theme-colors('textColors', 'primary');
    font-weight: 300;
  }
 
  .example-h2 {
    font-size: $h2-font-size;
    color: theme-colors('textColors', 'primary');
    font-weight: 300;
  }
 
  .example-h3 {
    font-size: $h3-font-size;
    color: theme-colors('textColors', 'primary');
    font-weight: 300;
  }
 
  .example-h4 {
    font-size: $h4-font-size;
    color: theme-colors('textColors', 'primary');
    font-weight: 300;
  }
 
  .example-h5 {
    font-size: $h5-font-size;
    color: theme-colors('textColors', 'primary');
    font-weight: 300;
  }
 
  .example-h6 {
    font-size: $h6-font-size;
    color: theme-colors('textColors', 'primary');
    font-weight: 300;
  }
 
  .example-p {
    font-size: $text-font-size;
    color: theme-colors('textColors', 'primary');
    font-weight: 300;
  }