// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Settings Style Main Meni
[header-background-image] {
    height: 200px;
    background-size: cover;
    background-position: center;
    @include darkening-blend-mode;

    img {
      padding-top: 40px;
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 9;
      max-width: 100px;
    }

    [item-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: relative;
      z-index: 9;
    }
  }


ion-item-options {
  border: transparent !important;
}

// Settings Icon Header
ion-header {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    width: auto !important;
    margin-left: 0 !important;
  }
}

  // Settings Main  Menu
  [main-menu] {
    button {
      padding-left: 30px;
    }

    .item-inner {
      margin-left: 0 !important;
    }

    [icon-small] {
      margin-top: 18px !important;
    }
  }
  // Settings Submenu

  [submenu] {
    ion-label {
      padding-left: 30px !important;
    }
  }

  .ion-line-item {
    padding-left: 0px;
  }

  .ion-line-item .item-inner {
    padding-left: 16px;
  }


  [span-large], [span-medium] {
    color:#00c0e8;
  }
  [span-medium] {
    font-size: 18px !important;
  }
  .card [span-medium] {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
  } 
  ::placeholder {
    color: #a0a0a0 !important;
  }
  .item-sm {
    padding-left: 4px;
  }
  .item-sm .label-md {
    margin: 0px;
  }
  .item-sm.item-md .radio-md[item-left], 
  .item-sm.item-md .radio-md[item-start] {
    margin: 11px 10px 10px 4px;
  }
  .item-sm.item.item-md .checkbox-md {
    margin: 9px 10px 9px 4px;
  }
  .item-sm .item-inner {
    padding-right: 4px;
  }
  .example-h1 {
    font-size: 18px !important;
    font-weight: bold !important;
  }
  .example-h2 {
    font-size: 16px !important;
    font-weight: bold !important;
  }
  .title-components {
    font-size: 20px !important;
    font-weight: bold !important;
  }
  [header-title] {
    color: #222 !important;
  }
  .col.col-set {
    background-color: #efeeee;
    padding-top: 10px !important;
    border: 1px solid #dedede;
  }

  .default-background {
    background-color: #fff !important;
  }
  
  
  .title-components{
      color: theme-colors('mainColors', 'secondary-first');
      font-size: 16px;
      font-weight: normal;
      clear: both;
      display: block;
      margin: 15px 0;
      text-transform: uppercase;
      border-bottom: 1px solid theme-colors('mainColors', 'secondary-first');
  }
  
  span.compomets {
    display: block;
    clear: both;
    color: theme-colors('mainColors', 'secondary-first');
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .block-insert {
      display: block;
      float: left;
      margin-bottom: 10px;
      margin-right: 50px;
  }
  
  .example-h1 {
     font-size: $h1-font-size;
     color: theme-colors('textColors', 'primary');
     font-weight: 300;
   }
  
   .example-h2 {
     font-size: $h2-font-size;
     color: theme-colors('textColors', 'primary');
     font-weight: 300;
   }
  
   .example-h3 {
     font-size: $h3-font-size;
     color: theme-colors('textColors', 'primary');
     font-weight: 300;
   }
  
   .example-h4 {
     font-size: $h4-font-size;
     color: theme-colors('textColors', 'primary');
     font-weight: 300;
   }
  
   .example-h5 {
     font-size: $h5-font-size;
     color: theme-colors('textColors', 'primary');
     font-weight: 300;
   }
  
   .example-h6 {
     font-size: $h6-font-size;
     color: theme-colors('textColors', 'primary');
     font-weight: 300;
   }
  
   .example-p {
     font-size: $text-font-size;
     color: theme-colors('textColors', 'primary');
     font-weight: 300;
   }
  