<!--
  Generated template for the Digr02List page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div class="top-tit-area02">
  <div>
    <div class="title-components">대상시설물 목록</div>
    <ion-buttons end>
      <button ion-button icon-only style="width:36px;height:36px;" (click)="addMast01()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>    
  </div>
</div>

<ion-grid no-padding *ngIf="digr01Group.selectedMast01List != null">
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
      <ion-list no-margin>
        <ion-item-sliding *ngFor="let mast01 of digr01Group.selectedMast01List; let i = index;" #slidingItem>
          <ion-item no-lines no-padding margin-top (click)="goWrite(digr01Group,i)">
            <!-- Images -->
            <ion-thumbnail no-margin item-start>
              <img src="assets/imgs/fms_img_{{ i % 12 + 1 | number: '2.'}}.png">
            </ion-thumbnail>
            <!-- Title -->
            <div item-top>
              <h2 item-title padding-left>{{mast01.facil_nm}}</h2>
            </div>
            <!-- Description -->
            <div item-bottom>
              <p item-subtitle padding-left text-wrap>{{mast01.facil_class_nm}}</p>
            </div>
            <div social>
              <ion-icon>
                <i class="icon icon-heart"></i>
              </ion-icon>
              <ion-icon>
                <i class="icon icon-share-variant" ></i>
              </ion-icon>
            </div>
          </ion-item>
          <ion-item-options no-lines>
            <!-- Button delete -->
            <button (click)="removeItem(mast01,i)" transparent>
              <!-- Icon delete -->
              <ion-icon icon-medium>
                <i class="icon icon-delete"></i>
              </ion-icon>
            </button>
            <!-- Button undo -->
            <button (click)="undo(slidingItem)" transparent>
              <!-- Icon undo -->
              <ion-icon icon-medium>
                <i class="icon icon-undo-variant"></i>
              </ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

  <!-- <ion-list-header>
    <ion-label col-4>시설물 명칭</ion-label>
    <ion-label col-2>종별</ion-label>
    <ion-label col-2>비용(천원)</ion-label>
    <ion-label col-1>이전<br>안전등급</ion-label>
    <ion-label col-1>상태평가<br>안전등급</ion-label>
    <ion-label col-2>작성<br>상태</ion-label>
  </ion-list-header>
  <ion-item-sliding *ngFor="let mast01 of digr01Group.selectedMast01List; let i=index">
    <ion-item (click)="goWrite(digr01Group,i)">
      <ion-grid>
        <ion-row class="row">
          <ion-col class="col" col-4 >{{mast01.facil_nm}}</ion-col>
          <ion-col class="col" col-2 >{{mast01.facil_class_nm}}</ion-col>
          <ion-col class="col" col-2 >{{digr01Group.digr02List[i].dign_amt}}</ion-col>
          <ion-col class="col" col-1 >{{mast01.stage_grade}}</ion-col>
          <ion-col class="col" col-1 >{{digr01Group.digr02List[i].stage_grade}}</ion-col>
          <ion-col class="col" col-2 ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-options danger>
        <button danger color="danger" class="danger" (click)="removeItem(mast01,i)"><ion-icon slot="icon-only" name="trash"></ion-icon> 삭제</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list> -->