page-digr02-list {
    table{
        td{
            text-align:center;
        }
    }

    #digr02List{
        ion-list-header {
            ion-label{
                margin: 13px 0px;
                text-align: center;
            }
        }
    }
}
