<!--
  Generated template for the DigrGroup page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon class="icon-menu" name="menu"></ion-icon>
      </button>
    <ion-title >시설물 정기 안전점검</ion-title>
  </ion-navbar>
</ion-header>

<!-- Theme Search Bars - Simple -->
<ion-content>
    <ion-grid no-padding>
        <ion-row *ngIf="menuObject != null">
          <!-- Header -->
          <ion-col col-12>
            <div background-size [ngStyle]="{'background-image': 'url(' + menuObject.headerImage + ')'}" *ngIf="menuObject.headerImage != null">
              <h2 parallax-title="" text-center="">정기안전점검 목록</h2>
              <h2 parallax-subtitle="" text-center="">정기안전점검 목록을 검색하여 확인할 수 있습니다.</h2>
              <ion-searchbar [(ngModel)]="searchTerm" ></ion-searchbar>
            </div>
          </ion-col>
          <!-- List -->
          <ion-col col-12>
            <ion-list no-margin>
              <ion-item-sliding *ngFor="let digrGroup of digr01GroupList; let i = index" #slidingItem>
                <ion-item class="ion-line-item" (click)="goView(digrGroup)">
                  <ion-icon item-end>
                    <i class="icon icon-arrow-right-bold-circle"></i>
                  </ion-icon>
                  <h1 item-title *ngIf="digrGroup.digr01.report_yy != ''; else elseBlock">{{digrGroup.digr01.report_yy}}년도 {{digrGroup.digr01.regular_gbn_nm}} {{digrGroup.digr01.dign_gbn_nm}}</h1>
                  <ng-template #elseBlock><h1 item-title>정기안전점검 리스트 {{i+1}}</h1></ng-template>
                  <h2 item-subtitle>{{digrGroup.digr01.start_ymd}} ~ {{digrGroup.digr01.end_ymd}}</h2>
                  <h2 item-subtitle>{{digrGroup.digr01.regular_gbn_nm}} / {{digrGroup.digr01.wrt_person_nm}}</h2>
                </ion-item>
                <ion-item-options no-lines>
                  <!-- Button delete -->
                  <button (click)="removeItem(digrGroup,i)" transparent>
                    <!-- Icon delete -->
                    <ion-icon icon-medium>
                      <i class="icon icon-delete"></i>
                    </ion-icon>
                  </button>
                  <!-- Button undo -->
                  <button (click)="undo(slidingItem)" transparent>
                    <!-- Icon undo -->
                    <ion-icon icon-medium>
                      <i class="icon icon-undo-variant"></i>
                    </ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="goWrite()">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-fab>
