<!--
  Generated template for the Digr12WriteModal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="backspace"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>중대결함</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="goSave()">
        확인
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Content -->
  <ion-grid no-padding >
      
    <div padding class="title-components">
      <span>부위/부재</span>
      <div class="block-insert">
        <button button-clear-outline outline round ion-button *ngIf="!digr01Group.transFlag" (click)="goFacilPartSerachModal()">선택</button>
      </div>
    </div>
    <ion-row *ngIf="digr12.facilPart != null">
      <ion-col col-12>
        <ion-list margin box-shadow>
          <ion-item-sliding #slidingFacilPart>
            <ion-item box-shadow no-lines class="ion-line-item" (click)="goFacilPartSerachModal()">
              <h1 item-title>{{digr12.object_no}}</h1>
            </ion-item>
            <ion-item-options no-lines>
              <!-- Button delete -->
              <button *ngIf="!digr01Group.transFlag" (click)="removeFacilPartItem(digr12.facilPart)" transparent>
                <!-- Icon delete -->
                <ion-icon icon-medium>
                  <i class="icon icon-delete"></i>
                </ion-icon>
              </button>
              <!-- Button undo -->
              <button (click)="undo(slidingFacilPart)" transparent>
                <!-- Icon undo -->
                <ion-icon icon-medium>
                  <i class="icon icon-undo-variant"></i>
                </ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <div padding class="title-components">
      <span>중대결함 <span class="text-red">*</span></span>
      <div class="block-insert">
        <button button-clear-outline outline round ion-button *ngIf="!digr01Group.transFlag" (click)="goSeriousDefectModal()">추가</button>
      </div>
    </div>
    <ion-row >
      <ion-col col-12>
        <ion-list margin box-shadow>
          <ion-item-sliding *ngFor="let seriousDefect of digr12.seriousDefectList; let i = index;" #slidingSeriousDefect>
            <ion-item box-shadow no-lines class="ion-line-item">
              <h1 item-title>{{seriousDefect.data2}}</h1>
            </ion-item>
            <ion-item-options no-lines>
              <!-- Button delete -->
              <button *ngIf="!digr01Group.transFlag" (click)="removeSeriousDefectItem(seriousDefect,i)" transparent>
                <!-- Icon delete -->
                <ion-icon icon-medium>
                  <i class="icon icon-delete"></i>
                </ion-icon>
              </button>
              <!-- Button undo -->
              <button (click)="undo(slidingSeriousDefect)" transparent>
                <!-- Icon undo -->
                <ion-icon icon-medium>
                  <i class="icon icon-undo-variant"></i>
                </ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <div padding class="title-components">
      <span>첨부사진</span>
      <div class="block-insert">
        <button button-clear-outline outline round ion-button *ngIf="!digr01Group.transFlag" (click)="takePhoto(camera.PictureSourceType.CAMERA);">촬영해서 추가</button>
        <button button-clear-outline outline round ion-button *ngIf="!digr01Group.transFlag" (click)="takePhoto(camera.PictureSourceType.PHOTOLIBRARY);">앨범에서 추가</button>
      </div>
    </div>
    <ion-row *ngIf="digr12.comtbFile01Array.length > 0">
      <ion-col col-12 align-self-start text-center>
        <ion-slides pager="true">
          <ion-slide text-center *ngFor="let comtbFile01 of digr12.comtbFile01Array" >
            <ion-card padding box-shadow>
              <div class="card-img">
                <img [src]="comtbFile01.img_path" />
              </div>
              <ion-row>
                <ion-col col-12>
                  <ion-item no-lines box-shadow>
                    <ion-textarea no-margin placeholder="메모" [(ngModel)]="comtbFile01.etc_remark"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
              <!-- <button ion-button medium margin>임시저장</button> -->
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>