<!--
  Generated template for the Digr13Write page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>정기점검표</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="goSave()">
        확인
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Content -->
  <ion-grid no-padding *ngIf="dign1_checkObject != null">
    <ng-template #cardBlock let-dign1_code>
      <ion-card padding margin-bottom box-shadow class="card">
        <ion-grid no-padding >

          <div span-medium *ngIf="dign1_code.check_nm4">{{dign1_code.check_nm4}}</div>
          
          <h2 padding-top header-title text-capitalize>점검결과 <span class="text-red">*</span></h2>
          <ion-list radio-group [(ngModel)]="digr13Array[dign1_code.index].check_result">
            <ion-row>
              <ion-col col-4 *ngFor="let check_result of check_resultList;">
                <!--Content -->
                <ion-item no-lines box-shadow class="item-sm">
                  <ion-radio item-start [value]="check_result.value"></ion-radio>
                  <!--Content Title-->
                  <ion-label item-title>{{check_result.name}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>

          <h2 padding-top header-title text-capitalize>보수여부</h2>
          <ion-row>
            <ion-col col-12>
              <ion-list>
                <ion-item no-lines box-shadow class="item-sm">
                  <!-- Content Title -->
                  <ion-label item-title>{{placeholder.amend_need_yn}}</ion-label>
                  <ion-checkbox [(ngModel)]="digr13Array[dign1_code.index].amend_need_yn"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <h2 padding-top header-title text-capitalize>의견</h2>
          <ion-row>
            <ion-col col-12 textarea>
              <ion-item no-lines box-shadow>
                <ion-textarea no-margin [placeholder]="placeholder.dign_opinion" [(ngModel)]="digr13Array[dign1_code.index].dign_opinion"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-template>

    <ng-container *ngIf="dign1_checkObject[codeMap.depth] == 2; else else_depth3">
      <div padding class="title-components">{{dign1_checkObject[codeMap.data][0].check_nm1}}</div>
  
        <ion-row>
          <ng-container *ngFor="let code2 of dign1_checkObject[codeMap.array]; let i = index;">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 class="col-set">
              <div padding-left class="example-h1">{{dign1_checkObject[codeMap.data][i].check_nm2}}</div>
              
              <ng-container *ngTemplateOutlet="cardBlock; context:{ $implicit: dign1_checkObject[codeMap.data][i] }"></ng-container>
            </ion-col>
          </ng-container>
      </ion-row>
    </ng-container>
    <ng-template #else_depth3 >
      <div padding class="title-components">{{dign1_checkObject[codeMap.data][0].check_nm2}}</div>

      <ion-row>
        <ng-container *ngFor="let code3 of dign1_checkObject[codeMap.array]; let i = index;">
          <ion-col col-12 col-sm-12 col-md-6 col-lg-6 class="col-set">
            <div padding-left class="example-h1">{{dign1_checkObject[codeMap.data][i].check_nm3}}</div>
            
            <ng-container *ngTemplateOutlet="cardBlock; context:{ $implicit: dign1_checkObject[codeMap.data][i] }"></ng-container>
          </ion-col>
        </ng-container>
    </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>