page-digr13-write {
    .form-01 {
        tr {
            display: table-row;
            th{
                text-align:center;
                padding-left: 0px;
            }
            td{
                text-align:center;
            }
        }
        
    }

}
